@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), sans-serif;
  --font-mono: var(--font-mono), monospace;
  
  --color-brand-green-light: #34d399;
  --color-brand-green: #059669;
  --color-brand-green-dark: #064e3b;
}

@layer base {
  body {
    background-color: #fafaf9; /* stone-50 */
    color: #1c1917; /* stone-900 */
  }
}
